## Private NPM Registry
registry=https://nexusdep.codesparks.int/repository/npm-public/

##Please uncomment below options if you have no internet connection
##If required version of below packages is not available uploaded to ProjectConnect, then you have to comment out below setting and configure npm proxy to download it from internet directly
strict-ssl=false

##sass_binary_site=https://codesparks.ncs.com.sg/iconnect-tools/node-sass-releases/
##phantomjs_cdnurl=https://codesparks.ncs.com.sg/iconnect-tools/phantomjs/


