<div>
    <div class="row justify-content-center">
        <div class="col-md-8" *ngIf="account$ | async as account">
            <h2 jhiTranslate="password.title" [translateValues]="{ username: account.username }">Password for [<strong>{{ account.username }}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
                <strong>Password changed!</strong>
            </div>

            <div class="alert alert-danger" *ngIf="error" jhiTranslate="password.messages.error">
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
                <div class="form-group">
                    <label class="form-control-label" for="currentPassword" jhiTranslate="global.form.currentpassword.label">Current password</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                           placeholder="{{ 'global.form.currentpassword.placeholder' | translate }}"
                           formControlName="currentPassword">

                    <div *ngIf="passwordForm.get('currentPassword')!.invalid && (passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched)" >
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('currentPassword')?.errors?.required"
                               jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="newPassword" jhiTranslate="global.form.newpassword.label">New password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                           placeholder="{{ 'global.form.newpassword.placeholder' | translate }}"
                           formControlName="newPassword">

                    <div *ngIf="passwordForm.get('newPassword')!.invalid && (passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.required"
                               jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('newPassword')?.errors?.pattern"
                               jhiTranslate="password.messages.validate.newpwd.pattern">
                               Password not strong,should be Upper case/Lower case/Digits/Special Characters combination.
                        </small>
                    </div>

                    <ic-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword')!.value"></ic-password-strength-bar>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                           formControlName="confirmPassword">

                    <div *ngIf="passwordForm.get('confirmPassword')!.invalid && (passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.required"
                               jhiTranslate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('confirmPassword')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="recallQuestion" jhiTranslate="password.form.pwdrecallquestion">Password Recovery Question</label>
                    <input type="text" class="form-control" id="recallQuestion" name="recallQuestion"
                           placeholder="{{ 'password.form.pwdrecallquestion.placeholder' | translate }}"
                           formControlName="recallQuestion">

                    <div *ngIf="passwordForm.get('recallQuestion')!.invalid && (passwordForm.get('recallQuestion')!.dirty || passwordForm.get('recallQuestion')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('recallQuestion')?.errors?.minlength"
                               jhiTranslate="password.messages.validate.pwdrecallquestion.minlength">
                               Your password recall question is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('recallQuestion')?.errors?.maxlength"
                               jhiTranslate="password.messages.validate.pwdrecallquestion.maxlength">
                               Your password recall question cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="recallAnswer" jhiTranslate="password.form.pwdrecallanswer">Answer</label>
                    <input type="text" class="form-control" id="recallAnswer" name="recallAnswer"
                           placeholder="{{ 'password.form.pwdrecallanswer.placeholder' | translate }}"
                           formControlName="recallAnswer">

                    <div *ngIf="passwordForm.get('recallAnswer')!.invalid && (passwordForm.get('recallAnswer')!.dirty || passwordForm.get('recallAnswer')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('recallAnswer')?.errors?.minlength"
                               jhiTranslate="password.messages.validate.pwdrecallanswer.minlength">
                               Your password recall answer is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('recallQuestion')?.errors?.maxlength"
                               jhiTranslate="password.messages.validate.pwdrecallanswer.maxlength">
                               Your password recall answer cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary btn-sm" jhiTranslate="password.form.button">Save</button>
                <button type="button" class="btn btn-secondary btn-sm"  (click)="cancel()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="password.form.cancel">Cancel</span>
                </button>
            </form>
        </div>
    </div>
</div>
