
<div *ngIf="generalApproval">
    <h2><span jhiTranslate="generalApproval.detail.title">General Approval Request</span></h2>
    <hr>

    <div class="row">
        <ic-alert-error></ic-alert-error>
    </div>
 
    <div class="form-group col-md-12">
        <ic-approval-request-header 
            [approvalRequest]="generalApproval.approvalRequest"
            formPath="general-approval"
            formId="{{generalApproval.id}}">
        </ic-approval-request-header>
     </div>

    <p-fieldset legend="Request Details" [toggleable]="true">
        <div class="row">
                <div class="form-group col-md-12">
                    <label class="form-control-label font-weight-bold" jhiTranslate="generalApproval.templateKey">Approval Process</label>
                    <div >
                        <span>{{generalApproval.templateKey}}</span>
                    </div> 
                </div>  
                <div class="form-group col-md-12">
                    <label class="form-control-label font-weight-bold" jhiTranslate="generalApproval.summary">Summary</label>
                    <div >
                        <span>{{generalApproval.approvalRequest.summary}}</span>
                </div>
                </div>

                <div class="form-group col-md-12">
                    <label class="form-control-label font-weight-bold" jhiTranslate="generalApproval.description">Description</label>
                    <div >
                        <span>{{generalApproval.description}}</span>
                </div>
                </div>
        </div>
    </p-fieldset>
    <br>
    <p-fieldset legend="Approvers" [toggleable]="true">
        <ic-approval-request-approvers 
            mode = "view"
            [approvalRequest]="generalApproval.approvalRequest">
        </ic-approval-request-approvers>          
    </p-fieldset>

    <br>
    <p-fieldset legend="Attachments" [toggleable]="true">
        <ic-approval-request-attachments 
        mode = "view"
        [approvalRequest]="generalApproval.approvalRequest">
        </ic-approval-request-attachments>       
    </p-fieldset>   

    <br>
    <p-fieldset legend="Approval History" [toggleable]="true">
        <ic-approval-request-history 
        mode = "view"
        [approvalRequest]="generalApproval.approvalRequest">
        </ic-approval-request-history>       
    </p-fieldset>   
    <div class="modal-footer col-md-12">
        <button type="button" (click)="editRequest()" class="btn btn-primary" [hidden]="enableEditButton==false">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
        </button> &nbsp;      
        <ic-approval-request-review-actions 
            [currentAccount] = "currentAccount"
            [approvalRequest]="generalApproval.approvalRequest">
        </ic-approval-request-review-actions>
    </div>     
</div>
