<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${name})}">
            Dear
        </p>
        <p th:text="#{email.reset.password.text1(${password})}">
            Your password has been reset. The new password is ****** . Please use the new password to login and change the password soon.
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Regards, </span>
        </p>
        <p>
            <em th:text="#{email.signature}">IT Support Team.</em>
        </p>
    </body>
</html>
