<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 jhiTranslate="password.forget.title">Forget password</h1>

            <p class="alert alert-success" *ngIf="success">
                <span jhiTranslate="password.messages.reset.success">
                    <strong>Password reset successfully!</strong>The new password has been send to
                </span>
                <strong>{{ resetPwdRequest.email }}</strong>
            </p>
            <div class="alert alert-danger" *ngIf="error">
                {{ error }}
            </div>
            <div class="alert alert-danger" *ngIf="badRequestError"  jhiTranslate="password.messages.reset.error">
                <strong>An error has occurred!</strong> The password could not be reset.
            </div>

            <form *ngIf="!success" name="form" role="form" #resetRequestForm="ngForm">
                <div class="form-group" *ngIf="!hasRecallQuestion">
                    <label class="form-control-label" jhiTranslate="global.form.username.label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" #usernameInput="ngModel"
                           placeholder="{{'global.form.username.placeholder' | translate}}"
                           [(ngModel)]="username" minlength="4" maxlength="50" required>
                        <div [hidden]="!(resetRequestForm.controls.username?.dirty && resetRequestForm.controls.username?.invalid)">
                            <small class="form-text text-danger" [hidden]="!resetRequestForm.controls.username?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" [hidden]="!resetRequestForm.controls.username?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 4 }">
                                Minimum 4 characters required.
                            </small>
                            <small class="form-text text-danger" [hidden]="!resetRequestForm.controls.username?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                This field cannot be longer than 50 characters.
                            </small>
                        </div>
                </div>

                <div class="form-group" *ngIf="hasRecallQuestion">
                    <label class="form-control-label" jhiTranslate="global.form.username.label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" readonly />
                </div>

                <div class="form-group" *ngIf="hasRecallQuestion">
                    <label class="form-control-label" jhiTranslate="global.form.email.label">Email</label>
                    <label class="form-control-label form-control"><strong>{{ resetPwdRequest.email }}</strong></label>
                </div>
                <div class="form-group" *ngIf="hasRecallQuestion">
                    <label class="form-control-label" jhiTranslate="password.form.pwdrecallquestion">Password Recall Question</label>
                    <label class="form-control-label form-control"><strong>{{ resetPwdRequest.recallQuestion }}</strong></label>
                </div>

                <div class="form-group" *ngIf="hasRecallQuestion">
                    <label class="form-control-label" jhiTranslate="password.form.pwdrecallanswer">Password Recall Answer</label>
                    <input type="text" class="form-control" id="recallAns" name="recallAns" #recallAnsInput="ngModel"
                           placeholder="{{'password.form.pwdrecallanswer.placeholder' | translate}}"
                           [(ngModel)]="recallAns" minlength="4" maxlength="50" required>
                        <div [hidden]="!(resetRequestForm.controls.recallAns?.dirty && resetRequestForm.controls.recallAns?.invalid)">
                            <small class="form-text text-danger" [hidden]="!resetRequestForm.controls.recallAns?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger" [hidden]="!resetRequestForm.controls.recallAns?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 4 }">
                                Minimum 4 characters required.
                            </small>
                            <small class="form-text text-danger" [hidden]="!resetRequestForm.controls.recallAns?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                This field cannot be longer than 50 characters.
                            </small>
                        </div>   
                </div>

                <button *ngIf="hasRecallQuestion" type="button" (click)="requestReset()" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary" jhiTranslate="password.form.submit">Submit</button>
                <button *ngIf="!hasRecallQuestion" type="button" (click)="getRecallQuestion()" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary" jhiTranslate="password.form.next">Next</button>
                <button *ngIf="needSetRecallQuestion" type="button" (click)="setRecallQuestion()" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary" jhiTranslate="password.form.setQuestion">Set Question</button>
            </form>

        </div>
    </div>
</div>
