<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGroupLabel" jhiTranslate="acmAdmin.group.home.createLabel">Create a new Group</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="clear()">&times;</button>
    </div>

    <p style="display: none" id="appDialogErrorMsg" class="alert-dismissible alert-danger alert"></p>

    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-6">
                <label class="form-control-label" jhiTranslate="acmAdmin.group.groupId" for="field_groupId">Group Id</label>
                <input type="text" class="form-control" name="groupId" id="field_groupId" [(ngModel)]="group.groupId" required pattern="^[^ ]+$" />
                <div [hidden]="!(editForm.controls.groupId?.dirty && editForm.controls.groupId?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!editForm.controls.groupId?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                    <small class="form-text text-danger" [hidden]="!editForm.controls.groupId?.errors?.pattern">
                        This field can not contain space.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="form-control-label" jhiTranslate="acmAdmin.group.groupName" for="field_groupName">Group Name</label>
                <input type="text" class="form-control" name="groupName" id="field_groupName"
                    [(ngModel)]="group.groupName" required />
                <div [hidden]="!(editForm.controls.groupName?.dirty && editForm.controls.groupName?.invalid)">
                    <small class="form-text text-danger"
                    [hidden]="!editForm.controls.groupName?.errors?.required" jhiTranslate="entity.validation.required">
                    This field is required.
                    </small>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label class="form-control-label" jhiTranslate="acmAdmin.group.groupDesc" for="field_groupDesc">Group Description</label>
                <input type="text" class="form-control" name="groupDesc" id="field_groupDesc"
                    [(ngModel)]="group.groupDesc"  />
            </div>

            <div class="form-group col-md-6">
                <label class="form-control-label" jhiTranslate="acmAdmin.group.parentGroup" for="field_parentGroup">Parent Group</label>
                <select class="form-control" id="field_parentGroup" name="parentGroup" [(ngModel)]="group.groupParentId" >
                    <option [ngValue]="null"></option>
                    <option [ngValue]="parentGroupOption.groupId === group.groupParentId ? group.groupParentId : parentGroupOption.groupId" *ngFor="let parentGroupOption of parentGroups; trackBy: trackParentGroupById">{{parentGroupOption.groupName}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button id="saveNewGroup" type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary btn-sm">
            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
    </div>
</form>
