<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 jhiTranslate="reset.request.title">Change your password</h1>

            <div class="alert alert-warning" *ngIf="!success && isFirstLogin">
                <h4 jhiTranslate="reset.request.reason.desc"></h4>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning" jhiTranslate="reset.request.reason.first" style="border: none !important;"></li>
                    <li class="list-group-item list-group-item-warning" jhiTranslate="reset.request.reason.second" style="border: none !important;"></li>
                    <li class="list-group-item list-group-item-warning" jhiTranslate="reset.request.reason.third" style="border: none !important;"></li>
                    <li class="list-group-item list-group-item-warning" jhiTranslate="reset.request.reason.fourth" style="border: none !important;"></li>
                </ul>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span jhiTranslate="reset.finish.messages.success"><strong>Your password has been reset.</strong> Please </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                <p>The password and its confirmation do not match!</p>
            </div>
            <div class="alert alert-danger" *ngIf="error">
                {{ error }}
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="reset.request.form.username">User Name</label>
                    <label class="form-control-label form-control"><strong>{{ resetAccount.username }}</strong></label>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="oldPwd" jhiTranslate="password.form.oldpwd">Old password</label>
                    <input type="password" class="form-control" id="oldPwd" name="resetAccount.oldPassword" #oldPwdInput="ngModel"
                           placeholder="{{'password.form.oldpwd.placeholder' | translate}}"
                           [(ngModel)]="resetAccount.oldPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="oldPwdInput.dirty && oldPwdInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="oldPwdInput.errors.required" jhiTranslate="password.messages.validate.oldpwd.required">
                            Your password is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="newPwd" jhiTranslate="password.form.newpwd.label">New password</label>
                    <input type="password" class="form-control" id="newPwd" name="resetAccount.newPassword" #newPwdInput="ngModel"
                           placeholder="{{'password.form.newpwd.placeholder' | translate}}"
                           [(ngModel)]="resetAccount.newPassword" minlength=8 maxlength=50
                           pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}"
                           required>
                    <div *ngIf="newPwdInput.dirty && newPwdInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="newPwdInput.errors.required" jhiTranslate="password.messages.validate.newpwd.required">
                            Your password is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="newPwdInput.errors.minlength" jhiTranslate="password.messages.validate.newpwd.minlength">
                            Your password is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="newPwdInput.errors.maxlength" jhiTranslate="password.messages.validate.newpwd.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="newPwdInput.errors.pattern" jhiTranslate="password.messages.validate.newpwd.pattern">
                               Password not strong,should be Upper case/Lower case/Digits/Special Characters combination.
                        </small>
                    </div>
                    <ic-password-strength-bar [passwordToCheck]="resetAccount.newPassword"></ic-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPwd" jhiTranslate="password.form.confirmpwd.label">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPwd" name="resetAccount.newPassword2" #confirmPwdInput="ngModel"
                           placeholder="{{'password.form.confirmpwd.placeholder' | translate}}"
                           [(ngModel)]="resetAccount.newPassword2" minlength=8 maxlength=50 required>
                    <div *ngIf="confirmPwdInput.dirty && confirmPwdInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="confirmPwdInput.errors.required" jhiTranslate="password.messages.validate.confirmpwd.required">
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="confirmPwdInput.errors.minlength" jhiTranslate="password.messages.validate.confirmpwd.minlength">
                            Your confirmation password is required to be at least 8 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="confirmPwdInput.errors.maxlength" jhiTranslate="password.messages.validate.confirmpwd.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group" *ngIf="isFirstLogin">
                    <label class="form-control-label" for="pwdRecallQuestion" jhiTranslate="password.form.pwdrecallquestion">Password Recall Question</label>
                    <input type="text" class="form-control" id="pwdRecallQuestion" name="resetAccount.recallQuestion" placeholder="{{'password.form.pwdrecallquestion.placeholder' | translate}}"
                           [(ngModel)]="resetAccount.recallQuestion" minlength=4 maxlength=50 #pwdRecallQuestionInput="ngModel" required>
                    <div *ngIf="pwdRecallQuestionInput.dirty && pwdRecallQuestionInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="pwdRecallQuestionInput.errors.required" jhiTranslate="password.messages.validate.pwdrecallquestion.required">
                            Your password recall question is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="pwdRecallQuestionInput.errors.minlength" jhiTranslate="password.messages.validate.pwdrecallquestion.minlength">
                            Your password recall question is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="pwdRecallQuestionInput.errors.maxlength" jhiTranslate="password.messages.validate.pwdrecallquestion.maxlength">
                            Your password recall question cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group" *ngIf="isFirstLogin">
                    <label class="form-control-label" for="pwdRecallAnswer" jhiTranslate="password.form.pwdrecallanswer">Password Recall Answer</label>
                    <input type="text" class="form-control" id="pwdRecallAnswer" name="resetAccount.recallAnswer" placeholder="{{'password.form.pwdrecallanswer.placeholder' | translate}}"
                           [(ngModel)]="resetAccount.recallAnswer" minlength=4 maxlength=50 #pwdRecallAnswerInput="ngModel" required>
                    <div *ngIf="pwdRecallAnswerInput.dirty && pwdRecallAnswerInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="pwdRecallAnswerInput.errors.required" jhiTranslate="password.messages.validate.pwdrecallanswer.required">
                            Your password recall Answer is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="pwdRecallAnswerInput.errors.minlength" jhiTranslate="password.messages.validate.pwdrecallanswer.minlength">
                            Your password recall Answer is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="pwdRecallAnswerInput.errors.maxlength" jhiTranslate="password.messages.validate.pwdrecallanswer.maxlength">
                            Your password recall Answer cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button id="changPWDBtn" type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary" jhiTranslate="reset.request.form.button">Reset</button>
            </form>

        </div>
    </div>
</div>
